<form>
  <h1>Hangman</h1>
  <p>Enter letter.</p>
  <input type='text' name='hangman_letter' />
  <br>
  <input type='submit' value='submit' />
  <br><br>
</form>

<html>
  <head></head>
  <body style="background-color:teal;">
    <p>
      Game state: <%= hangman_output %>
    <br><br>
      <%= hangman_output_message %> 
    <br><br>
      
    </p>
  </body>
</html>

